/.conda
/.vscode
/Artifact matrix
/EPCTL01
/EPCTL02
/EPCTL03
/EPCTL04
/EPCTL05
/EPCTL06
/EPCTL07
/EPCTL08
/EPCTL09
/EPCTL10
/EPCTL11
/EPCTL12
/EPCTL13
/EPCTL14
/EPCTL15
/EPCTL16
/EPCTL17
/EPCTL18
/EPCTL19
/EPCTL20
/EPCTL21
/EPCTL22
/EPCTL23
/EPCTL24
/EPCTL25
/EPCTL26
/EPCTL27
/EPCTL28
/EPCTL29
/output