altair==5.5.0
antropy==0.1.6
arviz==0.20.0
asttokens==2.4.1
attrs==25.1.0
bambi==0.14.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==3.1.0
colorama==0.4.6
comm==0.2.2
cons==0.4.6
contourpy==1.3.0
cramjam==2.8.4
cycler==0.12.1
decorator==5.1.1
dill==0.3.9
etuples==0.3.9
executing==2.1.0
fastparquet==2024.5.0
fastprogress==1.0.3
filelock==3.16.1
fonttools==4.54.1
formulae==0.5.4
fsspec==2024.9.0
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
h5netcdf==1.4.0
h5py==3.12.1
hdbscan==0.8.38.post1
hmmlearn==0.3.2
idna==3.10
intel-cmplr-lib-ur==2024.2.1
intel-openmp==2024.2.1
ipython==8.28.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lightgbm==4.5.0
llvmlite==0.43.0
logical-unification==0.4.6
lspopt==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
miniKanren==1.0.3
mkl==2024.2.2
mne==1.8.0
multipledispatch==1.0.0
narwhals==1.24.1
networkx==3.4.2
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
packaging==24.1
pandas==2.2.3
pandas-flavor==0.6.0
parso==0.8.4
patsy==0.5.6
pillow==10.4.0
pingouin==0.5.5
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
pooch==1.8.2
prompt_toolkit==3.0.48
protobuf==5.29.3
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pydeck==0.9.1
Pygments==2.18.0
pymc==5.17.0
pyparsing==3.1.4
pyriemann==0.7
pytensor==2.25.5
python-dateutil==2.9.0.post0
python-picard==0.7
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rich==13.9.2
rpds-py==0.22.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semver==3.0.2
six==1.16.0
sleepecg==0.5.8
smmap==5.0.2
stack-data==0.6.3
statsmodels==0.14.4
stochastic==0.6.0
streamlit==1.41.1
tabulate==0.9.0
tbb==2021.13.1
tenacity==9.0.0
tensorpac==0.6.5
Theano-PyMC==1.1.2
threadpoolctl==3.5.0
toml==0.10.2
toolz==1.0.0
tornado==6.4.2
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
wcwidth==0.2.13
widgetsnbextension==4.0.13
xarray==2024.9.0
xarray-einstats==0.8.0
yasa==0.6.5
